$color: white;
$background-color: black;
$zindex: 999999; // Z-index of the Debug Mode pane.

tw-dialog {
	z-index: $zindex - 2;
	position: fixed;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
	border: $color solid 2px;
	padding: 2em;
	color: $color;
	background-color: $background-color;
	display:block;
	max-width: 50vw;
	max-height: 75vh;
	overflow: hidden;

	input[type=text] {
		font-size: inherit;
		width:100%;
	}
}
tw-backdrop {
	z-index: $zindex - 3;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(0,0%,0%,0.8);
	display:flex;
	align-items:center;
	justify-content: center;
}
