$linkcolour: #4169E1;       // A striking blue
$hovercolour: DeepSkyBlue;  // A deep blue
$activecolour: #DD4B39;     // A cooked red
$visitedcolour: #6941e1;    // A run-of-the-mill purple
$visitedhovercolour: #E3E;  // A fierce magenta

tw-link, .link, tw-icon, .enchantment-clickblock {
	cursor: pointer;
}

@mixin enchantable-color {
	tw-passage tw-enchantment[style^="color"] &:not(:hover),
	tw-passage tw-enchantment[style*=" color"] &:not(:hover) {
		color: inherit;
	}
}

tw-link, .enchantment-link {
	color: $linkcolour;
	@include enchantable-color;
	font-weight: bold;
	text-decoration: none;
	
	transition: color 0.2s ease-in-out;
	&:hover {
		color: $hovercolour;
	}
	
	&:active {
		color: $activecolour;
	}
}

.visited {
	color: $visitedcolour;
	@include enchantable-color;
	&:hover {
		color: $visitedhovercolour;
	}
}

tw-broken-link {
	color: #993333; // A clotted blood colour
	@include enchantable-color;
	border-bottom: 2px solid #993333;
	cursor: not-allowed;
}

.enchantment-mouseover {
	border-bottom: 1px dashed #999;
}
.enchantment-mouseoverblock {
	border: 1px dashed #999;
	display:block;
}

.enchantment-mouseout, .enchantment-mouseoutblock {
	border: hsla(200,50%,50%,0.6) 1px solid;
	&:hover {
		background-color: hsla(200,50%,50%,0.25);
		border: transparent 1px solid;
		border-radius: 0.2em;
	}
	.enchantment-mouseoutblock {
		display:block;
	}
}

.enchantment-clickblock {
	width:100%;
	height:100%;
	// This should always house a block element (<tw-story>).
	display: block;
	// We need the clickblock frame to always be above the contents. So, this large pseudo-element is necessary.
	&::after {
		content:"";
		width:100%;
		height:100%;
		top:0;
		left:0;
		display: block;
		// Because * has "position:relative" in main.css, this line is enough.
		position:absolute;
		// May not be necessary, but just in case...
		pointer-events:none;
		// If no colour is specified, box-shadow uses 'color'.
		// Might as well use vmax because % doesn't work for box-shadow.
		box-shadow: 0 0 0 0.5vmax;
		// 'box-shadow-color' doesn't exist (can't be animated), so we must overload 'color'.
		color: hsla(225, 73%, 57%,0.5); // $linkcolour at 0.5 opacity
		transition: color 0.2s ease-in-out;
	}
	// SCSS needs these to be separate for some reason?
	&:hover::after {
		color: hsla(195, 100%, 50%, 0.5); // $hovercolour at 0.5 opacity
	}
	&:active::after {
		color: hsla(7, 71%, 55%, 0.5); // $activecolour at 0.5 opacity
	}
	// <tw-story> has an inset box, unlike <tw-passage> et al.
	body > &::after {
		box-shadow: inset 0 0 0 0.5vmax;
	}
}
