.harlowe-3-toolbarPanel {
	transition: max-height 0.8s;
	overflow-y: auto;
}
.harlowe-3-toolbarPanel code:not(:empty) {
	font-size:1rem;
	border: 1px dotted hsl(0, 0%, 50%);
}
.harlowe-3-stylePreview {
	text-align: center;
	user-select: none;
	overflow: hidden;
	background: black;
	color: white;
	font-family: 'Georgia',serif;
	padding: 8px;
	font-size: 1.5rem;
	margin: 8px auto;
	width: 50%;
	position:relative;
}
.harlowe-3-stylePreview > span {
	display:inline-block;
}
.harlowe-3-stylePreview > span:first-child {
	position:absolute;
}
.harlowe-3-stylePreview > span:last-child {
	position:relative;
}

.harlowe-3-toolbarPanel > button {
	border-radius: 0.8rem;
	margin: 8px 2px;
	padding: 0px 4px;
	height: 36px;
	font-size: 1.2rem;
	min-width: 28px;
}

.harlowe-3-toolbarPanel > button:not(:active) {
	border: 1px solid hsla(0,0%,50%,0.5);
	border-top: none;
	border-left: none;
}

.harlowe-3-toolbarCheckboxRow {
	border-bottom: 1px solid hsla(0,0%,50%,0.5);
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 8px
}

.harlowe-3-toolbarCheckboxRow > label {
	min-width: 20%;
	text-transform: capitalize;
	display: inline-block;
}

.harlowe-3-toolbarRadios {
	border-bottom: 1px solid hsla(0,0%,50%,0.5);
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 8px
}
.harlowe-3-swatch {
	width: 24px;
	height: 24px;
	display:inline-block;
	cursor:pointer;
	border-bottom: 1px solid hsla(0,0%,50%,0.5);
	border-right: 1px solid hsla(0,0%,50%,0.5);
}

.harlowe-3-labeledInput {
	position: relative;
	padding-bottom: 8px;
}

.harlowe-3-labeledInput > input[type=text] {
	display: inline-block;
	font-size: 1rem;
}

.harlowe-3-labeledInput > input[type=number] {
	box-shadow: 0 1px 0 hsla(0,0%,50%,0.5);
	background: transparent;
	color: inherit;
	border: none;
	font-family: 'Source Code Pro',monospace;
	width: 4rem;
	margin: 0 0.5rem;
	display: inline-block;
	font-size: 1rem
}

.harlowe-3-radioRow {
	margin: 8px 0px;
	display: block;
}

.harlowe-3-radioRow .harlowe-3-radioRow {
	margin-left: 2rem;
}

.harlowe-3-toolbarPanel > * > .harlowe-3-radioRow {
	border-bottom: 1px solid hsla(0,0%,50%,0.5);
	padding-bottom: 8px;
}

.harlowe-3-resultCode {
	max-width:60%;
	text-overflow:ellipsis;
}

.harlowe-3-toolbarBullet {
	padding:0px 2px;color:hsla(0,0%,50%,0.5);
}
.harlowe-3-toolbarBullet::before {
	content:"•";
}
.harlowe-3-bgColourButton {
	display:inline-block;
	border-radius:8px;
	width:16px;
	height:16px;
	margin-bottom:-2px;
	background:linear-gradient(to right,
		hsla(0,100%,50%,0.5),   hsla(30,100%,50%,0.5),  hsla(60,100%,50%,0.5),  hsla(120,100%,50%,0.5),
		hsla(180,100%,50%,0.5), hsla(240,100%,50%,0.5), hsla(300,100%,50%,0.5), hsla(320,100%,50%,0.5));
}
.harlowe-3-gradientBar {
	display:inline-block;
	position:relative;
	width:75%;
	height:32px;
	margin:12px 8px 96px 40px;
	border:1px solid hsla(0,0%,50%,0.5);
	border-radius:5px;
}
.harlowe-3-gradientBar + button {
	position:absolute;
	top:8px;
	right:8px;
}
.harlowe-3-colourStop {
	position:absolute;
	height:48px;
	width:16px;
	background: hsla(0,0%,50%,0.5);
	border-radius:5px;
	cursor:grab;
}
.harlowe-3-colourStop:active {
	cursor:grabbing;
}
.harlowe-3-colourStopButtons {
	display:none;
	position:relative;
	top: 64px;
	width: 540px;
	background:hsla(0,0%,50%,0.5);
	padding: 8px;
	cursor:auto;
}
.harlowe-3-colourStop[selected] {
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	height:64px;
}
.harlowe-3-colourStop[selected] > .harlowe-3-colourStopButtons {
	display:block;
}
.harlowe-3-singleColourPicker {
	display:inline-block;
}
.harlowe-3-singleColourPicker select {
	position: relative;
	top: -4px;
	font-size: 1rem;
	margin-left: 8px;
}
.harlowe-3-directionPicker {
	width:48px;
	height:48px;
	border-radius:24px;
	border:1px solid hsla(0,0%,50%,0.5);
	display:inline-block;
}
